body {
  font-family: sans-serif;
  font-size: 16px;
  color: #7c7c7c;;
}
.container{
  width: 100%;
  margin:auto;
  padding-right: 15px;
  padding-left: 15px;
}
#app{
  border: 1px solid #dadde1;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  padding: 15px;
}
h1{
  font-weight: 400;
  font-size: 24px;
  margin: 12px 0 0 0;
}
.form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .input{
  width: 418px;
  font-size: 16px;
  border-radius: 6px;
  padding: 6px 12px;
  border: 1px solid #ced4da;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
input[type = text]:focus{
  outline: 1px solid #6cb1f5;
  border: none;
}
.row{
  display: flex;
  font-style: row;
}
.row div{
  width: 296px;
  padding: 0 15px;
}
#searchbtn{
  background: #007bff;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 6px 12px;
  color: #ffffff;
  width: 20%;
  height: 38px;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#searchbtn:hover{
  background: #007bff;
  opacity: .9;
}
li{
  list-style: none;
  font-size: 16px;
  font-weight: 100;
}
ul{
  margin: 0 0 10px;
  padding: 0;
}

.cloud-icon{
  height: 64px;
  width: 64px;
  float: left;
  margin: 0 10px 0 0;
}
span.temperature{
  font-size: 60px;
  line-height: 1;
  font-size: 400;
  color: #000000;
}
span.units{
  position: relative;
  top: -30px;
}
span a{
  color: #007bff;
  text-decoration: none;
}
